.env
.env.local
.env.*.local

/main
/main.exe
main
*.exe
*.exe~
*.dll
*.so
*.dylib

core

node_modules/
.pnpm-store/

frontend/dist/
frontend/static/

.eslintcache
.vite/
.npm/

docker-compose.override.yml

/static/
/dist/

.vscode/*
!.vscode/extensions.json
.history/
*.code-workspace

*.log

.idea/

.DS_Store
Thumbs.db
desktop.ini